header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;

}

header .logo {
	background-image: url('https://github.com/JacobM311/holbertonschool-AirBnB_clone/blob/main/web_static/images/hbnb_logo.png?raw=true');
	background-repeat: no-repeat;
	height: 60px;
	margin-left: 20px;
    min-width: 100%;
    min-height: 100%;
	width: 142px;header .logo
}